*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

h1, h2, h3, h4, h5, p, a {
  font-size: 1em;
  margin: 0px;
  padding: 0px; }

.row {
  height: auto;
  width: 100%; }
  .row.total-collapse [class*='column'] {
    padding: 0px; }
  .row.edge-collapse:first-child [class*='column'] {
    padding-top: 0px; }
  .row.edge-collapse:last-child [class*='column'] {
    padding-bottom: 0px; }
  .row.edge-collapse [class*='column']:first-child {
    padding-left: 0px; }
  .row.edge-collapse [class*='column']:last-child {
    padding-right: 0px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row [class*='column'] {
    float: left;
    height: 100%;
    padding: 10px;
    position: relative; }
  .row .col-1 {
    width: 8.333333%; }
  .row .col-2 {
    width: 16.666667%; }
  .row .col-3 {
    width: 25%; }
  .row .col-4 {
    width: 33.333333%; }
  .row .col-5 {
    width: 41.666667%; }
  .row .col-6 {
    width: 50%; }
  .row .col-7 {
    width: 58.333333%; }
  .row .col-8 {
    width: 66.666667%; }
  .row .col-9 {
    width: 75%; }
  .row .col-10 {
    width: 83.333333%; }
  .row .col-11 {
    width: 91.666667%; }
  .row .col-12 {
    width: 100%; }

.nested-1 {
  height: 100%; }

.nested-2 {
  height: 50%; }

.nested-3 {
  height: 33.33333%; }

.nested-4 {
  height: 25%; }

.center {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.vercenter {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.horcenter {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

header {
  background: #1e1e1e; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  padding: 20px; }

.content {
  border: 1px dashed #1e1e1e;
  height: 100%;
  width: 100%; }

h1 {
  font-family: "omnes-pro", "Omnes Pro", "helvetica", sans-serif;
  color: white;
  font-size: 1.5em;
  font-weight: 100;
  margin: 30px 10px; }

h2 {
  font-family: "omnes-pro", "Omnes Pro", "helvetica", sans-serif;
  color: #1e1e1e;
  font-weight: 100;
  margin: 20px 10px 30px 10px; }
