// JoshDrink -------------------------------------------------------------------

  // Settings Template ---------------------------------------------------------

  // Authored by Josh Beveridge
  // 2014/07

  // Table of Contents ---------------------------------------------------------

    // Colour Palette
    // Font Stack
    // Icons / Logos

// Colour Palette --------------------------------------------------------------

  $white: #FFFFFF;
  $black: #1E1E1E;

  $grey: #969696;
  $light-grey: lighten($grey, 10%);
  $dark-grey: darken($grey, 10%);

// Font Stack ------------------------------------------------------------------

  @mixin font-omnes {
    font-family: 'omnes-pro', 'Omnes Pro', 'helvetica', sans-serif,
  }

// Icons / Logos ---------------------------------------------------------------

  // STYLE
